body {
    font-family: 'system-ui';
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background: #ff9100;
    color: white;
    padding: 10px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    text-align: center;
}

ul.cuentos-lista {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

ul.cuentos-lista li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

ul.cuentos-lista li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

ul.cuentos-lista li a:hover {
    text-decoration: underline;
}
